// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

&spi1 {
    status = "okay";

    ads1299: ads1299@0 {
        compatible = "ti,ads1299";
        reg = <0>;                       // CS index
        spi-max-frequency = <1000000>;

        drdy-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
        cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

        label = "ADS1299";
    };
};

&i2c0 {
    status = "okay";

    bno086: bno086@4a {
        compatible = "ceva,bno086";
        reg = <0x4a>;

        int-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
        label = "BNO086";
    };
};